@media (prefers-color-scheme: light) { 
    :root {
        --accent: #1FB5AD;
        --border: #ccc;
        --line: #ddd;
        
        /* gray scales with number, the smaller the num, the closer to fg/bg color */
        --black: #000;
        --fg: #000;
        --fg1: #333;
        --fg2: #666;
        --gray: #999;
        --bg2: #ccc;
        --bg1: #eee;
        --bg: #fff;
        --white: #fff;
        
        /* colors in hex and rgb */

        --red: #E64B43;
        --orange: #E68F17;
        --yellow: #E6BC17;
        --green: #3EAD5A;
        --cyan: #67BAE0;
        --blue: #177BE6;
        --purple: #AF52DE;
        --pink: #E6405F;
    
        --rgb-red: 230,75,67;
        --rgb-yellow: 230,188,23;
        --rgb-orange: 230,143,23;
        --rgb-green: 62,173,90;
        --rgb-cyan: 103,186,224;
        --rgb-blue: 23,123,230;
        --rgb-purple: 162,92,196;
        --rgb-pink: 230,64,95;
    }
}
:root {
    --accent: #1FB5AD;
    --border: #3E3E3E;
    --line: #2E2E2E;
    
    /* gray scales with number, the smaller the num, the closer to fg/bg color */
        --black: #1E1E1E;
        --bg: #1E1E1E;
        --bg1: #333;
        --bg2: #666;
        --gray: #999;
        --fg2: #A6A6A6;
        --fg1: #CCC;
        --fg: #D4D4D4;
        --white: #EFEFEF;

    /* colors in hex and rgb */
        --red: #CC6666;
        --orange: #CC8F66;
        --yellow: #CCB866;
        --green: #8FCC66;
        --cyan: #66CCA3;
        --blue: #66A3CC;
        --purple: #B866CC;
        --pink: #CC66A3;

        --rgb-red: 204,102,102;
        --rgb-yellow: 204,184,102;
        --rgb-orange: 204,143,102;
        --rgb-green: 143,204,102;
        --rgb-cyan: 102,204,163;
        --rgb-blue: 102,163,204;
        --rgb-magenta: 184,102,204;
        --rgb-pink: 204,102,163;
}